<div id= "page-content" >
  <div class="container" id ="articles-container">
    <h2 class="text-center mt-4"><%= @article.title %></h2>
    <div class="container">
      <div class ="row justify-content-md-center">
        <div class="col-8 mt-4">
          <div class="card text-center shadow mb-5 bg-white rounded">
            
            <div class="card-body">
              <h5 class="card-title font-italic">by Andrew Powlen</h5>
              <div class="card-text text-left"><%= simple_format(@article.description) %></div>
              <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-primary" %>
              <%= link_to "Delete", article_path(@article), method: :delete, data: {Confirm: "Are you sure"}, class: "btn btn-outline-danger" %>
            </div>
            
            <div class="card-footer text-muted">
              <small> Created <%= time_ago_in_words(@article.created_at) %> ago, 
              Last edited <%= time_ago_in_words(@article.updated_at) %> ago</small>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>